[Unit]
Description=tunneltelemetry server restarter
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart ttserver.service

[Install]
WantedBy=multi-user.target
