[Unit]
Description=tunneltelemetry service
After=network.target

[Service]
Type=simple
User=root
Group=root

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/ttserver
ExecStart=/usr/bin/tt-server

ExecStartPre=cp /home/ttserver/dist/tt-server /usr/bin
ExecStartPre=chmod +x /usr/bin/tt-server

[Install]
WantedBy=multi-user.target
